
.nav {
    grid-area: n;
    min-width: 120px;
    height: 100%;
    background-color: #c2c1c4;
    margin: 10px;
    padding: 10px;
}

.item {
    background-color: #f1f2ef;
    margin: 10px;
    padding: 5px 10px;
    color: gray;
    border: 1px solid #6c848c;
    border-radius: 5px;
    font-family: AppleGothic;
    font-size: 85%;
    font-weight: bold;
    letter-spacing: 2px;
}

.item a {
    color: black;
    text-decoration: none;
}


.item a.active {

}
